<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>活動詳情</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <style>
        main {
            min-height: calc(100vh - 70px);
        }

        /* Set the size of the div element that contains the map */
        #map {
            height: 300px;
            /* The height is 400 pixels */
            width: 300px;
            /* The width is the width of the web page */
        }

        .join {
            position: sticky;
            bottom: 0;
        }

        /* 留言捲軸 */
        #scroll {
            overflow-y: scroll;
            max-height: 400px;
        }

        /* 自定义滚动条的整体样式 */
        #scroll::-webkit-scrollbar {
            width: 10px; /* 滚动条的宽度 */
        }

        /* 滚动条轨道的样式 */
        #scroll::-webkit-scrollbar-track {
            background: #f1f1f1; /* 轨道的背景颜色 */
        }

        /* 滚动条滑块的样式 */
        #scroll::-webkit-scrollbar-thumb {
            background: #e8bfbc; /* 滑块的背景颜色 */
            border-radius: 10px; /* 滑块的圆角 */
        }

        /* 留言頭像跟人名inline */
        .list-group {
            display: inline;
        }


        .category-icon {
            font-size: 2rem;
            /* Example size */
        }

        .category-card {
            border: none;
            transition: transform 0.3s;
        }

        .category-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* 關掉bootstarp input點擊邊框變藍色的效果 */
        #comment:focus {
            border-color: #ced4da;
            box-shadow: none;
        }

        /*編輯留言要用的 標籤切換*/
        .none {
            display: none;
        }

        .userinput {
            border: none;
            width: 100%;

        }

        /*關閉input外框*/
        .userinput:focus {
            outline: none;
        }

    </style>
</head>

<body>

<div class="container">
    <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="index.html" class="d-inline-flex link-body-emphasis text-decoration-none">
                <span class="fs-4">做伙</span>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="index.html" class="nav-link px-2 link-secondary">首頁</a></li>
            <li><a href="join.html" class="nav-link px-2 link-secondary">瀏覽活動</a></li>
            <li><a href="create.html" class="nav-link px-2 link-secondary">舉辦活動</a></li>
            <li><a href="rent.html" class="nav-link px-2 link-secondary">場地租借</a></li>
            <li><a href="customer.html" class="nav-link px-2 link-secondary">FAQs</a></li>
            <li><a href="about.html" class="nav-link px-2 link-secondary">關於我們</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2"><a class="nav-link" href="#"
                                                                          data-bs-toggle="modal"
                                                                          data-bs-target="#loginModal">登入</a></button>
            <button type="button" class="btn btn-primary"><a class="nav-link" href="register.html">註冊</a></button>
        </div>
    </header>
</div>

<div class="container">
    <div class="text-bark text-center py-4">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <h1 class="fw-bold" id="activityName" th:text="${act.actName}">活動名稱</h1>

            <p>測試從RetailsController model拿會員ID:<span id="memberId" th:text="${memId}"></span></p>

        </div>
    </div>

    <main class="my-4">
        <div class="row">
            <div class="col-md-8">
                <section class="h-100 shadow-none p-3 mb-5 bg-light rounded">
                    <div class="w-auto h-100">
                        <div>
                            <img th:src="@{/CHA104G3/activity/images/{actId}(actId=${act.actId})}" src=""
                                 class="w-100 h-50 img-fluid img-thumbnail"
                                 alt="活動照片">
                        </div>
                        <h2 class="fw-bolder">活動內容:</h2>
                        <span id="actDescr" th:text="${act.actDescr}">活動內容</span>
                    </div>
                </section>
            </div>
            <div class="col-md-4" id="right-div">
                <aside>
                    <div class="shadow-none p-3 mb-5 bg-light rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                        </svg>
                        <span class="fst-italic">關注此活動的人數:<span id="actFollowCount"
                                                                        th:text="${act.actFollowCount}">1</span></span>
                        <div style="margin: 10px">
                            <p class="fst-italic" style="margin: 0;">人數上限:<span th:text="${act.actUpper}">1</span>
                            </p>
                            <p class="fst-italic">目前報名人數:<span th:text="${act.actCount}">1</span></p>
                        </div>
                    </div>
                    <div class="shadow-none p-3 mb-5 bg-light rounded">
                        <h2 class="fw-bolder">活動訊息:</h2>
                        <p class="fst-italic">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                            主辦人:
                            <img src="" class="img-fluid d-block mx-auto" style="width: 60px; height: auto">
                        <p id="memId" class="badge bg-primary text-wrap" th:text="${act.membership.memName}">
                            張三</p></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pin-map" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8z"/>
                            <path fill-rule="evenodd"
                                  d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                        </svg>
                        <span class="fst-italic">活動地點:<span id="actLoc"
                                                                th:text="${act.actLoc}">活動場地</span></span>
                        <hr>

                        <p class="fst-italic">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-clock" viewBox="0 0 16 16">
                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                            </svg>
                            活動開始時間：
                            <time id="startTime" th:text="${act.actStartTime}">2023-12-01 10:00 AM</time>
                        </p>
                        <p class="fst-italic">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-clock-history" viewBox="0 0 16 16">
                                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                            活動結束時間：
                            <time id="endTime" th:text="${act.actEndTime}">2023-12-01 4:00 PM</time>
                        </p>
                        <div id="map"></div>
                    </div>
                </aside>

            </div>
        </div>

        <div class="mt-5 w-100">
            <div class="mt-3">
                <div style="display: inline">
                    <span class="fs-3 fw-bolder">留言區<span id="commentcount">(0)</span></span>
                    <button id="newToOld" class="rounded-pill text-dark bg-light" onclick="newToOld()">新至舊</button>
                    <button id="oldToNew" class="rounded-pill text-dark bg-light" onclick="oldToNew()">舊至新</button>
                </div>
                <div class="card w-100 shadow-none p-3 mb-2 bg-light rounded" style="border: none;" id="scroll">
                    <div id="comments" class="card-body">
                        <p>無內容</p>
                    </div>
                    <button id="morecomments" type="button" class="btn btn-light" onclick="more()">查看更多</button>
                </div>
            </div>

            <form id="commentsform" class="row g-3">
                <label for="comment" class="visually-hidden">留言</label>
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill border border-3 border-dark" id="comment"
                           placeholder="輸入您的留言">
                    <button type="submit" class="rounded-pill border border-3 border-dark">留言</button>
                </div>
            </form>
        </div>

        <div class="container mt-4 bg-light" id="people">
            <div>
                <h5 class="fw-bolder">(要再改 不應該抓人數)參與者:<span id="actCount"
                                                                        th:text="${act.actCount}">(1)</span></h5>
            </div>
            <div id="add" class="row">
                <div class="col-md-2 mb-3">
                    <div class="shadow-sm p-3 mb-5 bg-light rounded text-center">
                        <img src="" class="img-fluid d-block mx-auto" style="width: 60px; height: auto">
                        <p class="badge bg-primary text-wrap text-center">小狗</p>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="shadow-sm p-3 mb-5 bg-light rounded text-center">
                        <img src="" class="img-fluid d-block mx-auto" style="width: 60px; height: auto">
                        <p class="badge bg-primary text-wrap text-center">小貓</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="p-3 join">
            <div class="text-bark">
                <div class="d-flex justify-content-between shadow p-4 bg-body rounded">
                    <div>
                        <button type="button" class="btn btn-danger btn-lg mx-3" onclick="signup()">報名活動</button>
                        <button type="button" id="follow" class="btn btn-outline-primary btn-lg mx-3"
                                onclick="follow()">關注
                        </button>
                    </div>
                    <button class="btn btn-outline-warning btn-lg" data-bs-toggle="modal"
                            data-bs-target="#actReportModal" data-bs-whatever="@getbootstrap" onclick="actReport()">檢舉活動
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">首頁</a></li>
            <li class="nav-item"><a href="customer.html" class="nav-link px-2 text-muted">客服中心</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link px-2 text-muted">關於我們</a></li>
        </ul>
        <p class="text-center text-muted">© 2023 Company, Inc</p>
    </footer>
</div>

<!--檢舉留言框-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">檢舉</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="reportfrom">
                    <div class="mb-3">
                        <label for="report-title" class="col-form-label">請選擇檢舉原因:</label>
                        <select class="form-control" id="report-title">
                            <option value="SPAM">垃圾訊息</option>
                            <option value="OFFENSIVE">不適當的內容</option>
                            <option value="HARASSMENT">人身攻擊或霸凌行為</option>
                            <option value="PRIVACY">侵犯隱私</option>
                            <option value="SENSITIVE">敏感或爭議性內容</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">請說出您的檢舉原因:</label>
                        <textarea class="form-control" id="message-text"
                                  style="width: 100%; height: 150px; resize:none;"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                        <button type="submit" class="btn btn-primary">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--檢舉活動框-->
<div class="modal fade" id="actReportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actReportModalLabel">檢舉活動</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="actReportfrom">
                    <div class="mb-3">
                        <label for="report-title" class="col-form-label">請選擇檢舉原因:</label>
                        <select class="form-control" id="act-report-title">
                            <option value="INAPPROPRIATE">不恰當的内容</option>
                            <option value="NOSAFETY">不安全的</option>
                            <option value="MISLEADING">誤導信息</option>
                            <option value="HARASSMENT">騷擾或欺凌</option>
                            <option value="OTHER">其他</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">請說出您的檢舉原因:</label>
                        <textarea class="form-control" id="act-text"
                                  style="width: 100%; height: 150px; resize:none;"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="photo">選擇圖片</label>
                        <input type="file" id="photo" accept="image/gif, image/jpeg, image/png">
                        <img id="preview" src="" style="width: 465px; height: auto">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                        <button type="submit" class="btn btn-primary">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.all.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script th:src="@{/js/googlemap.js}" src="../static/js/googlemap.js"></script>

<script>

    //檢舉留言框的Modal
    let exampleModal;
    //檢舉活動框的Model
    let actReportModal;

    //new出檢舉留言框並存入,為了讓檢舉留言框按下送出後可以用exampleModal.hide()隱藏檢舉框
    exampleModal = new bootstrap.Modal(document.getElementById("exampleModal"), {
        keyboard: false
    });
    actReportModal = new bootstrap.Modal(document.getElementById("actReportModal"), {
        keyboard: false
    });

    //初始留言數量
    let countLimit = 5;
    //預設排序
    let userSort = "DESC";
    //當前顯示的留言數量 用來判斷查看更多可不可以按
    let currentDisplayed = 0;

    let total;

    //!!!!!!!!!從RetailsController的model取得到的 測試取得會員ID用
    let MyMemId = $("#memberId").text();

    $(function () {
        //進入活動詳情頁面後要先跑一遍顯示所有留言
        allComments(countLimit, userSort);
        //判斷有沒有關注過
        checkActFollow();
        //搜出參與此活動者
        findMemAndPic();
    });

    let newToOldBtn = $("#newToOld");
    let oldToNewBtn = $("#oldToNew");

    function newToOld() {
        //兩個按鈕切換顏色
        if (newToOldBtn.hasClass("text-dark bg-light")) {
            newToOldBtn.removeClass("text-dark bg-light")
            newToOldBtn.addClass("text-light bg-dark")

            if (oldToNewBtn.hasClass("text-light bg-dark")) {
                oldToNewBtn.removeClass("text-light bg-dark")
                oldToNewBtn.addClass("text-dark bg-light")
            }
        }

        userSort = "DESC";
        allComments(countLimit, userSort);
    }

    function oldToNew() {
        //兩個按鈕切換顏色
        if (oldToNewBtn.hasClass("text-dark bg-light")) {
            oldToNewBtn.removeClass("text-dark bg-light")
            oldToNewBtn.addClass("text-light bg-dark")

            if (newToOldBtn.hasClass("text-light bg-dark")) {
                newToOldBtn.removeClass("text-light bg-dark")
                newToOldBtn.addClass("text-dark bg-light")
            }
        }

        userSort = "ASC";
        allComments(countLimit, userSort);
    }

    //按下查看更多按鈕將limit加5並且再跑一遍顯示所有留言
    function more() {
        countLimit += 5;
        allComments(countLimit, userSort);
    }

    //檢查有沒有關注過
    function checkActFollow() {
        $.ajax({
            url: "/activity/actfollow",
            type: 'GET',
            contentType: 'application/json',
            data: {
                actId: window.location.pathname.split('/')[3]
                // memId: MyMemId
            },
            dataType: 'json',
            success: function (folStatus) {

                //有關注的話關注按鈕為持續藍色
                if (folStatus === 2) {
                    $("#follow").removeClass("btn-outline-primary")
                    $("#follow").addClass("btn-primary")
                    $("#follow").text("已關注")
                }

            },
            error(xhr, status, error) {

                $("#follow").removeClass("btn-primary")
                $("#follow").addClass("btn-outline-primary")
                $("#follow").text("關注")
            }
        });
    }

    //進畫面後顯示所有留言
    function allComments(countLimit, userSort) {

        // let urlParams = new URLSearchParams(window.location.search);
        // let actId = urlParams.get('actId');

        $.ajax({
            url: '/comments', //路徑有變動的話要改
            type: 'GET',
            // cache: false, // 禁用緩存
            contentType: 'application/json',
            data: {
                actId: window.location.pathname.split('/')[3], //路徑有變動的話要改
                limit: countLimit,
                sort: userSort //讓用戶可以從新到舊 或舊到新
            },
            dataType: 'json',
            success: function (page) {
                let commentsHTML = "";
                let comments = page.comments;
                total = page.total;
                let limit = page.limit;

                comments.forEach(function (comment) {
                    if (comment.comStatus == 1) { //被檢舉成功的不顯示 後端撈出來之前已經有先判斷了 多寫的
                        commentsHTML +=
                            '<div class="usertext">' +
                            '<div class="mb-3">' +
                            '<img src="data:image/png;base64,' + comment.memPic + '" class="rounded-circle me-2 img-fluid" alt="" style="max-width: 50px; height: auto;">' +
                            '<p class="badge bg-primary text-wrap align-top">' + comment.memName + '</p>' +
                            '</div>' +
                            '<p class="content" style="margin: 0">' + comment.comContent + '</p>' +
                            '<input class="userinput content none" type="text" placeholder="請輸入內容" value="' + comment.comContent + '">' +
                            '<hr style="margin: 0">' +
                            '<div class="d-flex align-items-center mb-3">' +
                            '<small class="text-muted">' + comment.comTime + '</small>' +
                            '<div class="userfunction ms-auto" data-mem-id="' + comment.memId + '">' +
                            '<a href="#" class="ok badge rounded-pill bg-success" style="text-decoration:none; display: none;"  data-com-id="' + comment.comId + '">確認</a>' +
                            '<a href="#" class="nosee update badge rounded-pill bg-danger" style="text-decoration:none; display: none;"  data-com-id="' + comment.comId + '">編輯</a>' +
                            '<a href="#" class="nosee delete badge rounded-pill bg-warning" style="text-decoration:none; display: none;"  data-com-id="' + comment.comId + '">刪除</a>' +
                            '<a href="#" class="report badge rounded-pill bg-dark ms-2" style="text-decoration:none;" data-com-id="' + comment.comId + '"' +
                            'data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" >檢舉</a>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                    }

                });
                //留言總數
                $("#commentcount").html("(" + total + ")");

                $("#comments").html(commentsHTML);

                // //each所有的.userfunction來抓memId做判斷
                // $("#comments .userfunction").each(function () {
                //     let memId = $(this).data("memId")
                //
                //     //自己的留言才看的到修改和刪除按紐
                //     //判斷是不是自己的留言，不是的話將修改和刪除按鈕隱藏
                //     //!!!!!!!!!看要不要用後端來判斷
                //     if (memId != MyMemId) {
                //         $(this).children(".nosee").remove();
                //     }
                // })

                //跟上面一樣 都是判斷是不是自己的留言 做法不同而已
                $("#comments .userfunction").each(function () {
                    let comId = $(this).children("a").data("comId")
                    // console.log(comId) //留言編號

                    let nosee = $(this).children(".nosee");

                    checkComment(comId, nosee);

                })


                //判斷查看更多可不可以按
                if (total > currentDisplayed) {
                    currentDisplayed = comments.length;
                } else {
                    $("#morecomments").prop("disabled", true).text("沒有更多留言");
                }

                // memid 用來顯示會員的大頭照

            },
            error: function (xhr, status, error) {
                console.error("Error:" + status + " " + error);
            }
        });
    }

    //新增留言
    $("#commentsform").on("submit", function (e) {
        e.preventDefault();

        // let urlParams = new URLSearchParams(window.location.search);
        // let actId = urlParams.get('actId');

        var commentData = {
            actId: window.location.pathname.split('/')[3], //路徑有變動的話要改
            // comReplyId:null,
            comContent: $("#comment").val()
        };

        $.ajax({
            url: '/comments', //路徑有變動的話要改
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(commentData),
            dataType: 'json',
            success: function (comments) {
                $("#comment").val("");

                let commentsHTML = "";
                commentsHTML +=
                    '<div class="usertext">' +
                    '<div class="mb-3">' +
                    '<img src="data:image/png;base64,' + comments.memPic + '" class="rounded-circle me-2 img-fluid" alt="" style="max-width: 50px; height: auto;">' +
                    '<p class="badge bg-primary text-wrap align-top">' + comments.memName + '</p>' +
                    '</div>' +
                    '<p class="content" style="margin: 0">' + comments.comContent + '</p>' +
                    '<input class="userinput content none" type="text" placeholder="請輸入內容" value="' + comments.comContent + '">' +
                    '<hr style="margin: 0">' +
                    '<div class="d-flex align-items-center mb-3">' +
                    '<small class="text-muted">' + comments.comTime + '</small>' +
                    '<div class="userfunction ms-auto" data-mem-id="' + comments.memId + '">' +
                    '<a href="#" class="nosee update badge rounded-pill bg-danger" style="text-decoration:none;" data-com-id="' + comments.comId + '">編輯</a>' +
                    '<a href="#" class="nosee delete badge rounded-pill bg-warning" style="text-decoration:none;" data-com-id="' + comments.comId + '">刪除</a>' +
                    '<a href="#" class="report badge rounded-pill bg-dark ms-2" style="text-decoration:none;" data-com-id="' + comments.comId + '"' +
                    'data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">檢舉</a>' +
                    '</div>' +
                    '</div>' +
                    '</div>'

                $("#commentcount").html("(" + ++total + ")");
                console.log(total)

                $("#comments").prepend(commentsHTML);

                // memid 會員編號 用來顯示會員的大頭照
            },
            error: function (xhr, status, error) {
                Swal.fire("留言要打字呦")
            }
        });
    });

    //檢舉留言
    //案檢舉後取得comId,並將comid存在檢舉model的form表單的data屬性
    $(document).on("click", ".report", function (e) {
        e.preventDefault();
        let comId = $(this).data("comId");
        $("#reportfrom").data("comId", comId);
    });

    $("#reportfrom").submit(function (e) {
        e.preventDefault();
        //抓自定義的data屬性設的值,去查全部留言ajax那邊看
        let thisComId = $(this).data("comId");

        if (!$("#message-text").val().trim()) {
            Swal.fire("", "請輸入檢舉原因", "error");
            return;
        }

        let commentReportData = {
            comId: thisComId, //留言編號
            repTitle: $("#report-title").val(),
            repContent: $("#message-text").val()
        };
        $.ajax({
            url: "/commentreport", //路徑有變動的話要改
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(commentReportData),
            success: function (response) {
                $("#message-text").val("");

                Swal.fire("檢舉成功", "已交由後台人員處理", "success")
                exampleModal.hide();
            },
            error: function (xhr, status, error) {
                Swal.fire("檢舉失敗", "請再次確認")
            }
        });
    });

    //刪除留言(修改狀態)
    $(document).on("click", ".delete", function (e) {
        e.preventDefault();
        let comId = $(this).data("comId");

        // let dleData = {
        //     comStatus: 2
        // }

        Swal.fire({
            title: "要刪除留言嗎?",
            width: "300px",
            showCancelButton: true,
            confirmButtonText: "確定",
            cancelButtonText: "取消"
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '/comment/' + comId,
                    type: 'PUT',
                    // data: JSON.stringify(dleData),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function () {
                        allComments(countLimit, userSort)
                    },
                    error(xhr, status, error) {
                        console.log(status + error)
                    }
                })
            }
        });
    });

    //修改留言
    $(document).on("click", ".update", function (e) {
        e.preventDefault();
        //當前的input
        let input = $(this).closest(".usertext").find(".userinput")
        //當前的p
        let p = $(this).closest(".usertext").find(".content")
        //當前的確認按鈕
        let ok = $(this).closest(".usertext").find(".ok")
        //p跟input切換顯示
        $(this).closest(".usertext").find(".content").toggleClass("none");
        //自動focus到input
        input.focus();
        //確認按鈕顯示切換
        $(this).closest(".usertext").find(".ok").toggle();

    })
    //修改留言確認
    $(document).on("click", ".ok", function (e) {
        e.preventDefault();
        //p跟input切換顯示
        $(this).closest(".usertext").find(".content").toggleClass("none");
        //當前的input
        let input = $(this).closest(".usertext").find(".userinput")
        //當前的p
        let p = $(this).closest(".usertext").find(".content")
        //當前的確認按鈕
        let ok = $(this).closest(".usertext").find(".ok")

        if(!input.val().trim()){
            Toast.fire({
                icon: 'info',
                title: '請輸入內容！'
            })
            $(this).closest(".usertext").find(".content").toggleClass("none");
            return;
        }
        //將input的val賦值給p
        p.text(input.val());

        let comId = $(this).data("comId");
        let updataData = {
            actId: window.location.pathname.split('/')[3],
            // memId:,
            comContent: input.val()
        }
        $.ajax({
            url: '/comments/' + comId,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(updataData),
            dataType: 'json',
            success: function (updateComment) {
                ok.hide();
            },
            error(xhr, status, error) {
                ok.hide();
            }
        })
    })

    //檢舉活動
    function actReport() {
        //預覽圖
        $("#photo").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#preview").attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
        $("#actReportfrom").submit(function (e) {
            e.preventDefault();

            let actId = window.location.pathname.split('/')[3]; //路徑有變動的話要改

            // 驗證 repContent 是否為空或僅包含空白
            if (!$("#act-text").val().trim()) {
                Swal.fire("", "請輸入檢舉原因", "error");
                return;
            }

            let formData = new FormData();
            formData.append("actId", actId);
            formData.append("repTitle", $("#act-report-title").val());
            formData.append("repContent", $("#act-text").val());

            let fileInput = $("#photo")[0];
            let file = fileInput.files[0];
            if (file) {
                formData.append("repPic", file);
            }
            $.ajax({
                url: "/activityreport",
                type: "POST",
                data: formData,
                processData: false, // 不要處理發送的數據
                contentType: false, // 不要設置Content-Type
                success: function (response) {
                    Swal.fire("檢舉成功")
                    actReportModal.hide();
                },
                error: function (xhr, ststus, error) {
                    Swal.fire("檢舉失敗")
                }
            });
        });
    }

    //報名活動按鈕
    function signup() {
        Swal.fire({
            title: '人數',
            input: 'text',
            inputPlaceholder: '報名人數',
            inputValidator: (value) => {
                if (!value) {
                    return '請輸入人數'
                }
                if (isNaN(value)) {
                    return '請輸入數字';
                }
            },
            showCancelButton: true,
            confirmButtonText: '送出',
            cancelButtonText: '取消',
        }).then((result) => {
            if (result.isConfirmed && result.value) {

                // let urlParams = new URLSearchParams(window.location.search);
                // let actId = urlParams.get('actId');

                let numberOfPeople = {
                    actId: window.location.pathname.split('/')[3], //路徑有變動的話要改
                    regTotal: result.value
                }
                $.ajax({
                    url: '/actreg', //路徑有變動的話要改
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(numberOfPeople),
                    success: function (actReg) {
                        Swal.fire('報名成功!，您報名的人數：' + actReg.regTotal);
                    },
                    error: function (xhr, status, error) {
                        Swal.fire("報名人數超過上限，請重新確認");
                    }
                });
            }
        });
    }

    //關注活動
    function followAct() {
        let actFollow = {
            actId: window.location.pathname.split('/')[3], //路徑有變動的話要改
            folStatus: 2
        }

        $.ajax({
            url: "/activity/actfollow", //路徑有變動的話要改
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(actFollow),
            success: function (actFollow) {
                Toast.fire({
                    icon: 'success',
                    title: '關注成功！'
                })
                $("#follow").text("已關注")
            },
            error: function (xhr, status, error) {
                Swal.fire("關注失敗")
            }
        });
    }

    //取消關注活動
    function unFollowAct() {
        let actFollow = {
            actId: window.location.pathname.split('/')[3], //路徑有變動的話要改
            folStatus: 1
        }

        $.ajax({
            url: "/activity/unactfollow",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(actFollow),
            success: function (actFollow) {
                Toast.fire({
                    icon: 'success',
                    title: '已取消關注！'
                })
                $("#follow").text("關注")
            },
            error: function (xhr, status, error) {
                Swal.fire("取消關注失敗")
            }
        });
    }

    //切換關注活動按鈕顏色
    function follow() {
        //關注
        if ($("#follow").hasClass("btn btn-outline-primary")) {
            $("#follow").removeClass("btn btn-outline-primary");
            $("#follow").addClass("btn btn-primary");

            followAct();
        } else {
            //取消關注
            $("#follow").removeClass("btn btn-primary");
            $("#follow").addClass("btn btn-outline-primary");

            unFollowAct();
        }
    }

    //查詢單留言(用來判斷是不是自己的留言,是的話才顯示修改和刪除功能)
    function checkComment(comId, nosee) {
        $.ajax({
            url: '/comments/' + comId,
            type: 'GET',
            contentType: 'application/json',
            success: function (comment) {
                nosee.show(); //是自己的留言 看的到修改和刪除功能`
                // console.log(comId)
                // console.log(nosee)
            },
            error(xhr, status, error) {
            }

        });
    }

    //顯示參與者
    function findMemAndPic() {

        let memAndPicData = {
            actId: window.location.pathname.split('/')[3],
            isActPart: 2 //參加狀態
        }

        $.ajax({
            url: "/actreg/members",
            type: "GET",
            contentType: "application/json",
            data: memAndPicData,
            dataType: "json",
            success: function (memIdAndPics) {

                let userHTML = "";

                memIdAndPics.forEach(function (memNameAndPic) {
                    userHTML +=
                        '<div class="col-md-2 mb-3">' +
                        '<div class="shadow-sm p-3 bg-light rounded text-center">' +
                        '<img src="data:image/png;base64,' + memNameAndPic.memPic + '" class="img-fluid d-block mx-auto" style="width: 60px; height: auto">' +
                        '<p class="badge bg-primary text-wrap mt-2">' + memNameAndPic.memName + '</p>' +
                        '</div>' +
                        '</div>';
                })

                $("#add").html(userHTML)

            },
            error(xhr, status, error) {
            }
        })
    }

    //Sweetalart2
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 2000,
        onOpen: toast => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

</script>
</body>
</html>