<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>會員的關注活動</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/後台首頁頁面.css}">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <style>

        main {
            font-family: 'Noto Sans TC', sans-serif;
        }

        th {
            white-space: nowrap;
            text-align: center;
            vertical-align: middle;
        }

        td {
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
        }

    </style>
</head>

<body>
<header class="header">
    <h1>【會員查詢報名活動】</h1>
    <p class="welcome">歡迎您 管理員</p>
    <nav>
        <ul>
            <li><a href="後台登入頁面.html">登出</a></li>
        </ul>
    </nav>
</header>

<aside class="aside">
    <nav class="nav">
        <div class="sidenav">
            <a href="../static/後台首頁頁面.html">首頁</a>
            <hr>
            <button class="dropdown-btn">員工管理
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="修改密碼頁面.html">修改密碼</a>
                <a href="員工資料管理首頁.html">員工資料管理</a>
            </div>
            <hr>
            <button class="dropdown-btn">一般功能管理
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="新增公告.html">公告管理</a>
                <a href="新增FAQ.html">FQA管理</a>
            </div>
            <hr>
            <button class="dropdown-btn">會員功能管理
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="查詢會員.html">查詢會員</a>
                <a href="產生會員通知訊息.html">產生通知訊息</a>
                <a href="#">審核會員檢舉</a>
            </div>
            <hr>
            <button class="dropdown-btn">活動功能管理
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a th:href="@{/CHA104G3/member/report}">審核活動管理</a>
                <a th:href="@{/CHA104G3/member/commentreport}">審核留言管理</a>
            </div>
            <hr>
            <button class="dropdown-btn">場地功能管理
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="新增場地.html">場地管理</a>
                <a href="#">場地訂單管理</a>
                <a href="#">場地狀態管理</a>
            </div>
        </div>
    </nav>
</aside>

<main class="main">

    <div>
        <h1 class="fw-bold">關注活動</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-hover shadow-sm">
            <caption id="count">筆</caption>
            <thead class="thead-inverse table-primary">
            <tr>
                <th>活動編號</th>
                <th>活動名稱</th>
                <th>活動詳情</th>
                <th>關注中</th>
            </tr>
            </thead>
            <tbody id="actreg">

            </tbody>
        </table>
    </div>

    <div class="fixed-bottom">
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">上一頁</a>
                    </li>
                    <li class="page-item">
                        <!--                <a class="page-link" href="#">1</a>-->
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">下一頁</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.all.min.js"></script>

<script th:src="@{/js/後台首頁頁面.js}"></script>

<script>
    $(function () {
        checkFollows();
    })

    let pageNumber = 1;

    //第幾頁
    function loadPage(pageNumber) {

        checkFollows(pageNumber);
    }

    //查看所有關注的活動
    function checkFollows(pageNumber) {
        $.ajax({
            url: '/activity/actfollows',
            type: 'GET',
            data: {
                page: pageNumber - 1,
            },
            dataType: 'json',
            contentType: 'application/json',
            success: function (actFollowsPageable) {
                let followHTML = "";
                let count = 0;

                let actFollows = actFollowsPageable.content;
                let totalPages = actFollowsPageable.totalPages; //總頁數
                let number = actFollowsPageable.number;
                let first = actFollowsPageable.first; //當前是第一頁為ture
                let last = actFollowsPageable.last; // 當前是最後一頁為true

                nextPage(totalPages);

                $(".number").each(function () {
                    if ($(this).text() === (number + 1).toString()) {
                        $(this).addClass("active");
                    }
                });

                //判斷上下頁可不可以按
                if (!first || !last) {
                    $("#first").removeClass("disabled")
                    $("#last").removeClass("disabled")
                }
                if (first) {
                    $("#first").addClass("disabled")
                }
                if (last) {
                    $("#last").addClass("disabled")
                }

                actFollows.forEach(function (actFollow) {

                    if (actFollow.folStatus === 2) {
                        count++;

                        followHTML += `<tr>
                                            <td><span class="badge rounded-circle bg-dark">${actFollow.actId}</span></td>
                                            <td><sapn class="fw-bold">${actFollow.act.actName}</sapn></td>
                                            <td>
                                                <button class="rounded-pill btn btn-info" data-act-id="${actFollow.actId}" onclick="view(this)">查看</button>
                                            </td>
                                            <td class="actStatus pb-3">
                                                <button class="delbtn rounded-pill btn btn-danger" data-act-id="${actFollow.actId}"
                                                 onclick="delFollow(this)">取消</button>
                                            </td>
                                      </tr>`;
                    }
                });
                $("#count").html(`${count}筆`);
                $("#actreg").html(followHTML);

            },
            error: function (xhr, status, error) {
            }
        });
    }

    function view(e) {
        let actId = $(e).data("actId");
        window.location.href = `/CHA104G3/activity/${actId}`;

    }

    function delFollow(e) {
        let actId = $(e).data("actId");

        Swal.fire({
            title: "要取消關注嗎?",
            width: "300px",
            showCancelButton: true,
            confirmButtonText: "確定",
            cancelButtonText: "取消"
        }).then((result) => {
            if (result.isConfirmed) {
                unsFollowData = {
                    actId: actId,
                    folStatus: 1
                }

                $.ajax({
                    url: '/activity/unactfollow',
                    type: 'POST',
                    data: JSON.stringify(unsFollowData),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (res) {
                        Toast.fire({
                            icon: 'success',
                            title: '已取消關注！'
                        });
                        checkFollows();
                    },
                    error(xhr, status, error) {

                    }
                });
            }
        });
    }

    //分頁元件
    function nextPage(totalPages) {
        let pageHTML = "";
        for (let i = 0; i < totalPages; i++) {
            pageHTML +=
                `<li  class="page-item">
                <a class="number page-link" href="#" onclick="loadPage(${i + 1}); return false;">${i + 1}</a>
                </li>`;
        }

        $(".pagination").html(pageHTML); //插入頁碼
        $(".pagination").prepend('<li id="first" class="page-item disabled"><a class="page-link" href="#" onclick="previous(this)">上一頁</a></li>'); //將上一頁插入
        $(".pagination").append('<li id="last" class="page-item"><a class="page-link" href="#" onclick="next(this)">下一頁</a></li>');  //將下一頁插入

    }

    //下一頁
    function next() {
        checkFollows(++pageNumber);
    }

    //上一頁
    function previous() {
        checkFollows(--pageNumber);
    }


    //Sweetalart2
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 2000,
        onOpen: toast => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    });
</script>

</body>

</html>